{% extends 'base.html' %}

{% block "content" %}
    
    {% if slug %}
      <h2>Deployment: {{ deployment.name }}</h2>
      <div class="well">
        <a href="#" class="btn menu-btn btn-danger"><i class="icon-trash icon-white"></i> Delete Deployment</a>
      </div>
    {% else %}
        <h2>New Deployment</h2>
    {% endif %}
    <div class="row-fluid">
        <div class="span4">
            <form method="POST" action="{% if slug %}{% url deployment slug %}{% else %}{% url associate_deployment %}{% endif %}">
              {% csrf_token %}
                {% for field in form %}
                    {% if field.html_name == "is_production" %}
                        <div class="row-fluid">
                            <div class="span1">
                        {{ field }}</div><div class="span10" style="margin-top: 6px;"> Production Environment</div>
                        </div>
                    {% else %}
                        <label>
                            {% if field.field.required %}
                                <strong>{{ field.field.label}}</strong>
                            {% else %}
                                {{ field.field.label }}
                            {% endif %}
                            {% for error in field.errors %}{% if forloop.counter0 > 0 %}, {% endif %}<span class="errorlist"><i class="icon-exclamation-sign"></i> {{ error }}</span>{% endfor %}
                        </label>
                        {{ field }}
                    {% endif %}
                {% endfor %}

              <div class="btn-row">
                  <a href="{% url deployments %}" class="btn">Cancel</a>
                  <button type="submit" class="btn btn-success pull-right">
                      Associate
                  </button>
              </div>
          </form>
      </div>
  </div>
{% endblock %}
