{% extends "base.html" %}

{% block "content" %}
  <div class="row-fluid">
    <div class="span4">
        {{ slug }}
      <h3>
      {% if slug %}
        {{ link.name }}
      {% else %}
        New Research Link
      {% endif %}
      </h3>
      <div id="msg-bar-wrapper"></div>
      {% if slug %}
        <form method="POST" action="{% url research_link slug %}" id="submit-form">
      {% else %}
        <form method="POST" action="{% url new_research_link %}" id="submit-form">
      {% endif %}
      {% csrf_token %}
        {% include "form_fields.html" %}
        {% include "tag_field.html" %}

        <div class="btn-row">
          <a href="{% url ideas %}" class="btn">Cancel</a>
          <button type="button" id="submit-btn" class="btn btn-success pull-right">
            {% if is_new_research_link %}
              Create Link
            {% else %}
              Save
            {% endif %}
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
